<div class="page-width">
      <a href="{{ shop.url }}" class="header__logo-link">
        <img src="{{ section.settings.twp_logo | img_url: 'master' }}" alt="{{ shop.name }}" width="{{ section.settings.twp_logo_width }}" height="auto" style="width:{{ section.settings.twp_logo_width }}px;">
      </a>
</div>

{% schema %}
{
  "name": "TWP header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
     "type": "image_picker",
     "id": "twp_logo",
     "label": "Logo",
    },
    {
    "type": "range",
    "id": "twp_logo_width",
    "label": "Logo width",
    "default": 100,
    "min": 80,
    "max": 130,
    "step": 5,
    }
  ]
}
{% endschema %}
