<div class="twp-mega-menu-content">
  <div class="twp-mmc-wrapper" data-mega-menu-name="{{ section.settings.attribute_name }}">
    {% for block in section.blocks %}
      {% if block.type == 'list' %}
        <div class="twp-mmc-links">
          <p>Hello</p>
          {% comment %}
            {% for link in block.settings.menu_links %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          {% endcomment %}
        </div>
      {% endif %}
      {% if block.type == 'image' %}
        <div class="twp-mmc-image">
          <a href="{{ block.settings.mmc_image_url }}">
            <img
              src="{{ block.settings.mmc_image | img_url: 'master' }}"
              alt="{{ block.settings.mmc_image_title }}"
              width="{{ block.settings.mmc_image | img_width: 'master' }}"
              height="{{ block.settings.mmc_image | img_height: 'master' }}"
            >
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Mega Menu Content",
  "tag": "section",
  "class": "twp-mega-menu-content",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "attribute_name",
      "label": "Mega Menu Item Name",
      "info": "Enter the name of the Mega Menu item to be linked."
    }
  ],
  "blocks": [
    {
      "type": "list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu_links",
          "label": "Links",
          "info": "Add links to the Mega Menu."
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "mmc_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "mmc_image_title",
          "label": "Image Title"
        },
        {
          "type": "url",
          "id": "mmc_image_url",
          "label": "Image Link"
        }
      ]
    }
  ]
}
{% endschema %}
