<div class="twp-mega-menu-content">
  <div class="twp-mmc-wrapper" data-mega-menu-name="{{ section.settings.attribute_name }}">
    {% assign image_block = null %}
    {% for block in section.blocks %}
      {% if block.type == 'menu_list' %}
        <div class="twp-mmc-menu">
          <ul class="twp-mmc-menu_list">
            {% for link in block.settings.menu_links_1.links %}
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if block.type == 'image' %}
        {% assign image_block = block %}
      {% endif %}
    {% endfor %}

    {% if image_block %}
      <div class="twp-mmc-image">
        <a href="{{ image_block.settings.mmc_image_url }}" class="twp-mmc-image_wrapper">
          <img
            src="{{ image_block.settings.mmc_image | img_url: 'master' }}"
            alt="{{ image_block.settings.mmc_image_alt }}"
            width="100%"
            height="100%"
          >
        </a>
        <p class="twp-mmc-image_title">{{ image_block.settings.mmc_image_title }}</p>
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Mega Menu Content",
  "tag": "section",
  "class": "twp-mega-menu-content",
  "settings": [],
  "blocks": [
    {
      "type": "menu_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "attribute_name",
          "label": "Mega Menu Item Name",
          "info": "Enter the name of the Mega Menu item to be linked."
        },
        {
          "type": "link_list",
          "id": "menu_links_1",
          "label": "Menu 1",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_2",
          "label": "Menu 2",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_3",
          "label": "Menu 3",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_4",
          "label": "Menu 4",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_5",
          "label": "Menu 5",
          "info": "Add links to the Mega Menu."
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "text",
          "id": "attribute_name_1",
          "label": "Mega Menu Item Name",
          "info": "Enter the name of the Mega Menu item to be linked."
        },
        {
          "type": "image_picker",
          "id": "mmc_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "mmc_image_alt",
          "label": "Image Alt Text"
        },
        {
          "type": "text",
          "id": "mmc_image_title",
          "label": "Image Title"
        },
        {
          "type": "url",
          "id": "mmc_image_url",
          "label": "Image Link"
        }
      ]
    }
  ]
}
{% endschema %}
