{% style %}
  {% if section.settings.menu_width == "full-width"%}
    .twp-mega-menu-content {
      width: calc(100% - 40px);
      left: 20px;
    }
  {% endif %}
  {% if section.settings.menu_width =="boxed"%}
    .twp-mega-menu-content {
      width: 1280px;
      left: calc((100% - 1280px) / 2);
    }
  {% endif %}
{% endstyle %}

{% for block in section.blocks %}
  <div class=" twp-mega-menu-content">
    <div class="twp-mmc-wrapper" data-mega-menu-name="{{ block.settings.attribute_name }}">
      {% if block.type == 'menu_list' %}
        <div class="twp-mmc-menu_list_wrapper">
          {% for link in block.settings.menu_links_1.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
        <div class="twp-mmc-menu_list_wrapper">
          {% for link in block.settings.menu_links_2.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
        <div class="twp-mmc-menu_list_wrapper">
          {% for link in block.settings.menu_links_3.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
        <div class="twp-mmc-menu_list_wrapper">
          {% for link in block.settings.menu_links_4.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
        <div class="twp-mmc-menu_list_wrapper">
          {% for link in block.settings.menu_links_5.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
        <div class="twp-mmc-menu_list_wrapper">
          {% for link in block.settings.menu_links_6.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
      {% endif %}

      {% if block.type == 'menu_list_2' %}
        <div class="twp-mmc-link_wrapper">
          <div class="twp-mmc-menu_list_wrapper_2">
            {% for link in block.settings.menu_links_7.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
          <div class="twp-mmc-menu_list_wrapper_2">
            {% for link in block.settings.menu_links_8.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
          <div class="twp-mmc-menu_list_wrapper_2">
            {% for link in block.settings.menu_links_9.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>
        <div class="twp-mmc-image_wrapper">
          <div class="twp-mmc-image">
            <a
              {% if block.settings.mmc_image_1_link %}
                href="{{ block.settings.mmc_image_1_link }}"
              {% endif %}
            >
              <img src="{{ block.settings.mmc_image_1 | img_url: 'master' }}" alt="">
            </a>
            {% if block.settings.mmc_image_1_text %}
              <p>{{ block.settings.mmc_image_1_text }}</p>
            {% endif %}
          </div>
          <div class="twp-mmc-image">
            <a
              {% if block.settings.mmc_image_2_link %}
                href="{{ block.settings.mmc_image_2_link }}"
              {% endif %}
            >
              <img src="{{ block.settings.mmc_image_2 | img_url: 'master' }}" alt="">
            </a>
            {% if block.settings.mmc_image_2_text %}
              <p>{{ block.settings.mmc_image_2_text }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if block.type == 'menu_list_3' %}
        <div class="twp-mmc-link_wrapper_3">
          <div class="twp-mmc-menu_list_wrapper_3">
            {% for link in block.settings.menu_links_10.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
          <div class="twp-mmc-menu_list_wrapper_3">
            {% for link in block.settings.menu_links_11.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
          <div class="twp-mmc-menu_list_wrapper_3">
            {% for link in block.settings.menu_links_12.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
          <div class="twp-mmc-menu_list_wrapper_3">
            {% for link in block.settings.menu_links_13.links %}
              <ul class="twp-mmc-menu_list">
                <li class="twp-mmc-menu_item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <ul class="twp-mmc-submenu_list">
                      {% for child_link in link.links %}
                        <li class="twp-mm-submenu_item">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>
        <div class="twp-mmc-image_wrapper_3">
          <div class="twp-mmc-image_3">
            <a
              {% if block.settings.mmc_image_3_link %}
                href="{{ block.settings.mmc_image_3_link }}"
              {% endif %}
            >
              <img src="{{ block.settings.mmc_image_3 | img_url: 'master' }}" alt="">
            </a>
            {% if block.settings.mmc_image_3_text %}
              <p>{{ block.settings.mmc_image_3_text }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% for block in section.blocks %}
  {% if block.type == 'menu_list_4' %}
    <div class="twp-mega-menu-content_2">
      <div class="twp-mmc-wrapper" data-mega-menu-name="{{ block.settings.attribute_name }}">
        <div class="twp-mmc-menu_list_wrapper_4">
          {% for link in block.settings.menu_links_14.links %}
            <ul class="twp-mmc-menu_list">
              <li class="twp-mmc-menu_item">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <ul class="twp-mmc-submenu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mm-submenu_item">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
        <div class="twp-mmc-image_wrapper_4">
          <div class="twp-mmc-image_4">
            <a
              {% if block.settings.mmc_image_4_link %}
                href="{{ block.settings.mmc_image_4_link }}"
              {% endif %}
            >
              <img src="{{ block.settings.mmc_image_4 | img_url: 'master' }}" alt="">
            </a>
            {% if block.settings.mmc_image_4_text %}
              <p>{{ block.settings.mmc_image_4_text }}</p>
            {% endif %}
          </div>
          <div class="twp-mmc-image_5">
            <a
              {% if block.settings.mmc_image_5_link %}
                href="{{ block.settings.mmc_image_5_link }}"
              {% endif %}
            >
              <img src="{{ block.settings.mmc_image_5 | img_url: 'master' }}" alt="">
            </a>
            {% if block.settings.mmc_image_5_text %}
              <p>{{ block.settings.mmc_image_5_text }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "Mega Menu Content",
  "tag": "section",
  "class": "twp-mega-menu-content",
  "settings": [
    {
      "type": "select",
      "id": "menu_width",
      "label": "Width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "menu_list",
      "name": "Menu [6 Links]",
      "settings": [
        {
          "type": "text",
          "id": "attribute_name",
          "label": "Mega Menu Item Name",
          "info": "Enter the name of the Mega Menu item to be linked."
        },
        {
          "type": "link_list",
          "id": "menu_links_1",
          "label": "Menu 1",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_2",
          "label": "Menu 2",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_3",
          "label": "Menu 3",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_4",
          "label": "Menu 4",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_5",
          "label": "Menu 5",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_6",
          "label": "Menu 6",
          "info": "Add links to the Mega Menu."
        }
      ]
    },
    {
      "type": "menu_list_2",
      "name": "Menu [3 Links, 2 Images]",
      "settings": [
        {
          "type": "text",
          "id": "attribute_name",
          "label": "Mega Menu Item Name",
          "info": "Enter the name of the Mega Menu item to be linked."
        },
        {
          "type": "link_list",
          "id": "menu_links_7",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_8",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_9",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "image_picker",
          "id": "mmc_image_1",
          "label": "Image-1",
          "info": "Add an image to the Mega Menu."
        },
        {
          "type": "text",
          "id": "mmc_image_1_text",
          "label": "Image-1 Title",
          "info": "Add a title to the image."
        },
        {
          "type": "url",
          "id": "mmc_image_1_link",
          "label": "Image-1 Link",
          "info": "Add a link to the image."
        },
        {
          "type": "image_picker",
          "id": "mmc_image_2",
          "label": "Image-2",
          "info": "Add an image to the Mega Menu."
        },
        {
          "type": "text",
          "id": "mmc_image_2_text",
          "label": "Image-2 Title",
          "info": "Add a title to the image."
        },
        {
          "type": "url",
          "id": "mmc_image_2_link",
          "label": "Image-2 Link",
          "info": "Add a link to the image."
        }
      ]
    },
    {
      "type": "menu_list_3",
      "name": "Menu [4 Links, 1 Image]",
      "settings": [
        {
          "type": "text",
          "id": "attribute_name",
          "label": "Mega Menu Item Name",
          "info": "Enter the name of the Mega Menu item to be linked."
        },
        {
          "type": "link_list",
          "id": "menu_links_10",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_11",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_12",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "link_list",
          "id": "menu_links_13",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "image_picker",
          "id": "mmc_image_3",
          "label": "Image",
          "info": "Add an image to the Mega Menu."
        },
        {
          "type": "text",
          "id": "mmc_image_3_text",
          "label": "Image Title",
          "info": "Add a title to the image."
        },
        {
          "type": "url",
          "id": "mmc_image_3_link",
          "label": "Image Link",
          "info": "Add a link to the image."
        }
      ]
    },
    {
      "type": "menu_list_3",
      "name": "Menu [4 Links, 1 Image]",
      "settings": [
        {
          "type": "text",
          "id": "attribute_name",
          "label": "Mega Menu Item Name",
          "info": "Enter the name of the Mega Menu item to be linked."
        },
        {
          "type": "link_list",
          "id": "menu_links_14",
          "label": "Menu Links",
          "info": "Add links to the Mega Menu."
        },
        {
          "type": "image_picker",
          "id": "mmc_image_4",
          "label": "Image-1",
          "info": "Add an image to the Mega Menu."
        },
        {
          "type": "text",
          "id": "mmc_image_4_text",
          "label": "Image-1 Title",
          "info": "Add a title to the image."
        },
        {
          "type": "url",
          "id": "mmc_image_4_link",
          "label": "Image-1 Link",
          "info": "Add a link to the image."
        },
        {
          "type": "image_picker",
          "id": "mmc_image_5",
          "label": "Image-2",
          "info": "Add an image to the Mega Menu."
        },
        {
          "type": "text",
          "id": "mmc_image_5_text",
          "label": "Image-2 Title",
          "info": "Add a title to the image."
        },
        {
          "type": "url",
          "id": "mmc_image_5_link",
          "label": "Image-2 Link",
          "info": "Add a link to the image."
        }
      ]
    }
  ]
}
{% endschema %}
