{% style %}
  {% for block in section.blocks %}
    {% if block.type == 'announcement_bar' %}
      .twp-announcement_bar {
        background-color: {{ block.settings.announcement_background }};
        color: {{ block.settings.announcement_text_color }};
      }
    {% endif %}
  {% endfor %}
  .twp-header_wrapper {
    background-color: {{ section.settings.background }};
  }
  .header__icons svg path {
    fill: {{ section.settings.svg-fill }};
  }
  .twp-nav_item a {
    color: {{ section.settings.svg-fill }};
  }
  .twp-icon_wrapper svg path {
    fill: {{ section.settings.svg-fill }};
  }
  .twp-mega_menu {
    background-color: {{ section.blocks[1].settings['mega-menu_background'] }};
  }
  .twp-mega_menu_item a {
    color: {{ section.blocks[1].settings['mega-menu_text_color'] }};
  }

  {% if section.settings.twp-logo_position == "center" %}
    .twp-main_menu {
      justify-content: start;
      order: -1;
    }
    .twp-header_logo-link {
      justify-content: center;
    }
  {% else %}
    .twp-main_menu {
      justify-content: center;
      order: 0;
    }
    .twp-header_logo-link {
      justify-content: start;
    }
  {% endif %}
{% endstyle %}
<div class="twp-header">
  {% for block in section.blocks %}
    {% if block.type == 'announcement_bar' %}
      <div class="twp-announcement_bar">
        <div class="page-width">
          <p>{{ block.settings.announcement_text }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <div class="twp-header_wrapper">
    <div class="page-width twp-header-menu_wrapper">
      {% if section.settings['twp-logo'] %}
        <div class="twp-header_logo">
          <a href="{{ shop.url }}" class="twp-header_logo-link">
            <img
              src="{{ section.settings.twp-logo | img_url: 'master' }}"
              alt="{{ shop.name }}"
              width="{{ section.settings.twp-logo_width }}"
              height="fit-content"
              style="width:{{ section.settings.twp-logo_width }}px;"
            >
          </a>
        </div>
      {% else %}
        {% if section.settings['twp-header_text'] != blank %}
          <h1 class="twp-shop_name">{{ section.settings['twp-header_text'] }}</h1>
        {% else %}
          <h1 class="twp-shop_name">{{ shop.name }}</h1>
        {% endif %}
      {% endif %}
      <div class="twp-desktop_menu">
        <ul class="twp-main_menu">
          {% for link in section.settings.menu.links %}
            <li class="twp-nav_item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="header__icons twp-header_icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
          <div class="desktop-localization-wrapper">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form class="small-hide medium-hide" data-prevent-hide>
                {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}

            {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
              <localization-form class="small-hide medium-hide" data-prevent-hide>
                {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                    {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
          </div>
          {% render 'header-search', input_id: 'Search-In-Modal' %}

          {%- if shop.customer_accounts_enabled -%}
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
              rel="nofollow"
            >
              {%- if section.settings.enable_customer_avatar -%}
                <account-icon>
                  {%- if customer and customer.has_avatar? -%}
                    {{ customer | avatar }}
                  {%- else -%}
                    <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
                  {%- endif -%}
                </account-icon>
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
              <span class="visually-hidden">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </a>
          {%- endif -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
            {%- endcase -%}
          {%- endfor -%}

          <a
            href="{{ routes.cart_url }}"
            class="header__icon header__icon--cart link focus-inset"
            id="cart-icon-bubble"
          >
            {% if cart == empty %}
              <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
            {% else %}
              <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
            {% endif %}
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>
        </div>
      </div>

      <div class="twp-mobile_menu">
        <div class="twp-icon_wrapper">
          <span class="svg-wrapper menu-open">{{ 'icon-hamburger.svg' | inline_asset_content }}</span>
          <span class="svg-wrapper menu-close">{{ 'icon-close.svg' | inline_asset_content }}</span>
        </div>
        <div class="twp-mobile_menu_dropdown">
          <ul class="twp-main_menu">
            {% for link in section.settings.mobile_menu.links %}
              <li class="twp-nav_item">
                <div class="nav-item_wrapper">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <span class="nav-item-dropdown-open">{{ 'icon-plus.svg' | inline_asset_content }}</span>
                    <span class="nav-item-dropdown-close">{{ 'icon-minus.svg' | inline_asset_content }}</span>
                  {% endif %}
                </div>
                {% if link.links.size > 0 %}
                  <ul class="twp-mega_menu_list">
                    {% for child_link in link.links %}
                      <li class="twp-mega_menu_item" data-mega-menu-name="{{ child_link.title }}">
                        <div class="nav-item_child_wrapper">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                          {% if child_link.links.size > 0 %}
                            <span class="nav-item-child-dropdown-open">
                              {{- 'icon-plus.svg' | inline_asset_content -}}
                            </span>
                            <span class="nav-item-child-dropdown-close">
                              {{- 'icon-minus.svg' | inline_asset_content -}}
                            </span>
                          {% endif %}
                        </div>
                        {% if child_link.links.size > 0 %}
                          <ul class="twp-child_menu_list">
                            {% for sub_child_link in child_link.links %}
                              <li class="twp-child_menu_item" data-mega-menu-name="{{ sub_child_link.title }}">
                                <a href="{{ sub_child_link.url }}">{{ sub_child_link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% for block in section.blocks %}
    {% if block.type == 'mega_menu' %}
      <div class="twp-mega_menu">
        <div class="twp-mega_menu_head">
          {% for link in section.settings.menu.links %}
            {% if link.active and link.links.size > 0 %}
              <ul class="twp-mega_menu_list page-width">
                {% for child_link in link.links %}
                  <li class="twp-mega_menu_item" data-mega-menu-name="{{ child_link.title }}">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<script>
  {% comment %} Mega menu - Display conditions {% endcomment %}
   
  document.addEventListener('DOMContentLoaded', function () {
    const megaMenuItem = document.querySelectorAll('.twp-mega_menu_item');
    megaMenuItem.forEach((item) => {
      var megaMenuName = item.dataset.megaMenuName;
      var megaMenuContent = document.querySelector(
        `.twp-mmc-wrapper[data-mega-menu-name="${item.dataset.megaMenuName}"]`
      );
      var hoverElems = document.querySelectorAll(`[data-mega-menu-name="${megaMenuName}"]`);
      const megaMenuWrapper = document.querySelectorAll('.twp-mmc-wrapper');
      hoverElems.forEach((hoverElem) => {
        hoverElem.addEventListener('mouseover', (event) => {
          hoverElem.classList.add('twp-active');
          if (megaMenuContent) {
           megaMenuContent.classList.add('twp-active');
          }

          megaMenuWrapper.forEach((wrapper) => {
            if (wrapper !== megaMenuContent) {
              wrapper.classList.remove('twp-active');
            }
          });
        });

        hoverElem.addEventListener('mouseleave', (event) => {
            hoverElem.classList.remove('twp-active');
        });

        const headerWrapper = document.querySelector('.twp-header_wrapper');
        headerWrapper.addEventListener('mouseenter', () => {
          if (megaMenuContent) {
            hoverElem.classList.remove('twp-active');
          }
        });

        const mainContent = document.querySelector('#MainContent');
        mainContent.addEventListener('mouseenter', () => {
          if (megaMenuContent) {
            hoverElem.classList.remove('twp-active');
          }
        });

      });
    });



  const headerHeight = document.querySelector('.twp-header').offsetHeight;
  const mobileDropdown = document.querySelector('.twp-mobile_menu_dropdown');
  mobileDropdown.style.height = `calc(100vh - ${headerHeight}px)`;
  const mobileMenu = document.querySelector('.twp-mobile_menu');
  const menuOpen = document.querySelector('.menu-open');
  const menuClose = document.querySelector('.menu-close');
  menuOpen.addEventListener('click', ()=> {
    mobileMenu.classList.add('twp-mm-active');
  });
  menuClose.addEventListener('click', ()=> {
    mobileMenu.classList.remove('twp-mm-active');
  });

  const mobileNavItems = document.querySelectorAll('.twp-mobile_menu_dropdown .twp-nav_item');
  mobileNavItems.forEach((navItem) => {
   const subMenuOpen = navItem.querySelector('.nav-item-dropdown-open');
   const subMenuClose = navItem.querySelector('.nav-item-dropdown-close');
   const subMenuAll = document.querySelectorAll('.nav-item-dropdown-open');
   if(subMenuOpen){
    subMenuOpen.addEventListener('click', () => {
      navItem.classList.add('twp-msm-active');
      subMenuAll.forEach((menu) => {
        if(menu !== subMenuOpen){
          menu.closest('.twp-nav_item').classList.remove('twp-msm-active');
        }
      });
     });
   }
   if(subMenuClose){
    subMenuClose.addEventListener('click', () => {
      navItem.classList.remove('twp-msm-active');
     });
   }
  });



const mobileChildItems = document.querySelectorAll('.nav-item_child_wrapper');
mobileChildItems.forEach((childItem) => {
 const childMenuOpen = childItem.querySelector('.nav-item-child-dropdown-open');
 const childMenuClose = childItem.querySelector('.nav-item-child-dropdown-close');
 const childMenuAll = document.querySelectorAll('.nav-item-child-dropdown-open');
 if(childMenuOpen){
  childOpen.addEventListener('click', () => {
    childItem.classList.add('twp-mcm-active');
    childMenuAll.forEach((childMenu) => {
      if(childMenu !== childMenuOpen){
        childMenu.closest('.nav-item_child_wrapper').classList.remove('twp-mcm-active');
      }
    });
   });
 }
 if(childMenuClose){
  childMenuClose.addEventListener('click', () => {
    childItem.classList.remove('twp-mcm-active');
   });
 }
});

});
</script>

{% schema %}
{
  "name": "TWP header",
  "tag": "header",
  "class": "twp-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "twp-logo",
      "label": "Logo"
    },
    {
      "type": "select",
      "id": "twp-logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "twp-logo_width",
      "label": "Logo width",
      "default": 125,
      "min": 80,
      "max": 200,
      "step": 5
    },
    {
      "type": "text",
      "id": "twp-header_text",
      "label": "Header text",
      "info": "If you don't have a logo, you can use text instead. Shop name will be used by default."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "svg-fill",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Mobile Menu"
    }
  ],
  "blocks": [
    {
      "type": "announcement_bar",
      "name": "Announcement Bar",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Announcement Text",
          "default": "Free shipping on all orders over $50"
        },
        {
          "type": "color",
          "id": "announcement_background",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "announcement_text_color",
          "label": "Text Color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "mega_menu",
      "name": "Mega Menu",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "mega-menu_background",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "mega-menu_text_color",
          "label": "Text Color",
          "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}
