{% style %}
.twp-header_wrapper {
  background-color: {{ section.settings.background }};
  padding: 10px 0;
}
{% endstyle %}

<div class="page-width twp-header_wrapper">
  {% if section.settings.twp-logo %}
    <a href="{{ shop.url }}" class="twp-header_logo-link">
      <img
        src="{{ section.settings.twp-logo | img_url: 'master' }}"
        alt="{{ shop.name }}"
        width="{{ section.settings.twp-logo_width }}"
        height="fit-content"
        style="width:{{ section.settings.twp-logo_width }}px;"
      >
    </a>
  {% else %}
    {% if section.settings.twp-header_text != blank %}
      <h1 class="twp-shop_name">{{ section.settings.twp-header_text }}</h1>
    {% else %}
      <h1 class="twp-shop_name">{{ shop.name }}</h1>
    {% endif %}
  {% endif %}
</div>


{% schema %}
{
  "name": "TWP header",
  "tag": "header",
  "class": "twp-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "twp-logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "twp-logo_width",
      "label": "Logo width",
      "default": 125,
      "min": 80,
      "max": 200,
      "step": 5
    },
    {
      "type": "text",
      "id": "twp-header_text",  
      "label": "Header text",
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
